<div class="post book">
  <h2><%= book.title %></h2>

  <h4>
    <% if book.pricepromo.present? %> 
      <s><%= book.price %>€</s> <%= book.pricepromo %>€
    <% else %>
      <%= book.price %>€
    <% end %>
  </h4>

  <div class="description">
    <%= book.description %>
  </div>
  
  <% if book.category.present? %>
  <p>
    <strong>Category:</strong>
      <%= book.category.name %> 
  </p>
  <% end %>

  <% unless request.original_url.include? "books" %>
    <%= book.comments.count %> • <%= link_to 'Add a comment', book_path(book) %>
  <% end %>
  

</div>
