<% if request.original_url.include? "books" %>
  <nav aria-label="Breadcrumb" class="breadcrumb">
      <ul>
          <li><%= link_to t('home_label'), root_path %></li>
          <% if book.category %>
            <li><%= link_to book.category.name.capitalize.truncate(32), root_path(q: {category_id_eq: book.category.id}) %></li>
          <% end %>
          <li><span aria-current="page"><%= book.title.capitalize.truncate(32) %></span></li>
      </ul>
  </nav>
<% end %>

<div class="post book">

  <% if request.original_url.include? "books" %>
    <% title sanitize book.title.capitalize %>
    <% meta_tag :description, book.description.to_plain_text %>
  <% end %>
  
  <% if request.original_url.include? "books" %>
    <h2><%= book.title %></h2>
  <% else %>
    <h2><%= link_to book.title, book_path(book)  %></h2>
  <% end %>

  <h4>
    <% if book.pricepromo.present? %> 
      <s><%= book.price %>€</s> <%= book.pricepromo %>€
    <% elsif book.price %>
      <%= book.price %>€
    <% end %>
  </h4>

  <div class="description">
    <%= book.description %>
  </div>

  <div class="post_action"> 
    <% if book.category.present? %>
      <div class="categ">
        <span>Category:</span>
        <%= link_to book.category.name, root_path(q: {category_id_eq: book.category.id}) %>
      </div>
    <% end %>
    <% unless request.original_url.include? "books" %>
      <% 
        countCom = book.comments.count || 0
        labelCom = t("comment_title_label") 
      %>
      <% if countCom > 0 %>
        <%= link_to "#{countCom} #{labelCom}", book_path(book, :anchor => "com") %>
      <% else %>
        <%= "#{countCom} #{labelCom}" %>
      <% end %>
      • <%= link_to t('add_comment'), book_path(book, :anchor => "com") %>
      <% if current_user && current_user.admin? %>
         • <%= link_to t('edit_book_label'), edit_book_path(book) %> • 
        <%= link_to t('delete_book_label'), book, data: { "turbo-method": :delete, "turbo-confirm": t('confirm_delete_text') } %>
      <% end %>
    <% end %>
  </div>
  

</div>
