<div class="post book">
  <h2><%= book.title %></h2>

  <h4>
    <% if book.pricepromo.present? %> 
      <s><%= book.price %>€</s> <%= book.pricepromo %>€
    <% else %>
      <%= book.price %>€
    <% end %>
  </h4>

  <div class="description">
    <%= book.description %>
  </div>
  
  <% if book.category.present? %>
  <p>
    <strong>Category:</strong>
      <%= book.category.name %> 
  </p>
  <% end %>

  <% if book.thumbnail.present? %>
      <%= image_tag book.thumbnail.variant(resize_to_limit: [200, 200]) %>
  <% end %>

</div>
