<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<%= link_to "New book", new_book_url %> <br> <br>

<div class="search">
  <%= render "search" %>
</div>

<% if @booksResult %>
  <div class="result">
    <h3>Results:</h3>
    <% @booksResult.each do |result| %>
      <p>Titre : <%= result.title %></p>
    <% end %>
  </div>
<% end %>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
  <%= paginate @books %>
</div>
