<nav>
    <div class="info">
        <% if @sitecontent&.columnimg.present? %>
            <%= image_tag(@sitecontent.columnimg.variant(resize_to_limit: [300,300]), class: 'columnimg') %>
        <% end %>
        <%= @sitecontent.text_rc %>
    </div>

    <div class="search">
        <%= render "pages/search" %>
    </div>

    <% if @categories.present? %>
    <h5><%= t('categories_label') %></h5>
    <ul>
        <% @categories.each do |cat| %>
        <li><%= link_to cat.name, root_path(q: {category_id_eq: cat.id}) %></li>
        <% end %>
    </ul>
    <% end %>

    <ul class="admin">
    <% unless user_signed_in? && current_user.admin? %>
       <li><%= link_to t('signin_label'), new_user_session_path %></li>
    <% else %>
        <li><%= link_to t('addbook_label'), new_book_path %></li>
        <li><%= link_to t('admin_label'), account_path(current_user) %></li>
        <li><%= link_to t('signout_label'), destroy_user_session_path, 'data-turbo-method': :delete %></li>
    <% end %>
    </ul>

    <div class="switch_language">
        <% if I18n.locale == :en %>
            🇫🇷 <%= link_to t('language_to_french'), url_for( :locale => 'fr' ) %>
        <% elsif I18n.locale == :fr %>
            🇬🇧 <%= link_to t('language_to_english'), url_for( :locale => 'en' ) %>
        <% end %>
    </div>

</nav>