<!DOCTYPE html>
<html>
  <head>
    <title>Bookshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag( 'https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap' ) %>
    <%= yield :recaptcha_js %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="app">
      <p class="notice" style="color:orange"><%= notice %></p>
      <p class="alert" style="color:red"><%= alert %></p>

      <% unless request.original_url.include? "accounts" %>
        <%= render "layouts/header", sitecontent: @sitecontent %>
      <% end %>

      <div class="flex_main">
        <% unless request.original_url.include? "accounts" %>
          <%= render "layouts/nav" %>
        <% end %>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>

    <script>
      function onSubmit(token) {
        document.getElementById("demo-form").submit();
      }
    </script>
  </body>
</html>
