<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %><%= sanitize(@sitecontent.title_site) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name='description' content='<%= yield_meta_tag(:description, sanitize(@sitecontent.description_site.to_s)) %>' />
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('bookico.ico') %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <%= stylesheet_link_tag( 'https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap' ) %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="app">
      <% flash.each do |type, msg| %>
        <div class="flash <%= type %>">          
          <%= msg %>
        </div>
      <% end %>

      <% unless request.original_url.include? "accounts" or request.original_url.include? "users" %>
        <%= render "layouts/header", sitecontent: @sitecontent %>
      <% end %>

      <div class="flex_main">
        <% unless request.original_url.include? "accounts" or request.original_url.include? "users" %>
          <%= render "layouts/nav" %>
        <% end %>
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="presentation_image">

    </div>

    <script   src="https://code.jquery.com/jquery-3.6.1.slim.min.js"   integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="   crossorigin="anonymous"></script>
  </body>
</html>
