<h1>Account Index</h1>
<h2>Hello, <%= @user.firstname %> </h2>
<%= link_to t('home_label'), root_path, class: 'return_home' %>

<%= render 'show' %>


<% @books.each do |book| %>
    <%= link_to book.title, edit_book_path(book) %> <%= book.user_id %>  | 
    <%= link_to "Destroy this book", book, data: { turbo_method: :delete } %> <br>
<% end %>
<%= paginate @books %>