<h1>Account Index</h1>
<h2>Hello, <%= @user.firstname %> </h2>

<%= render 'show' %>

<%= render 'sitecontentform', sitecontent: @sitecontent %>

<% @categories.each do |cat| %>
    <%= cat.name %> | <%= link_to "X", cat, data: { turbo_method: :delete } %><br>
<% end %>
<br>
Create new category <br>
<%= render 'categories/form', category: @category %>
<br><br><br>

<% @books.each do |book| %>
    <%= link_to book.title, edit_book_path(book) %> <%= book.user_id %> | 
    <%= link_to "X", book, data: { turbo_method: :delete } %> <br>
<% end %>
<%= paginate @books %>